<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676982547514-tm6q1om6a6cohibm2i8ltsr02eocb4ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676982547514-tm6q1om6a6cohibm2i8ltsr02eocb4ab</string>
	<key>API_KEY</key>
	<string>AIzaSyAWzmjywM7bEp-chf3HL5IHYex8jnFlyto</string>
	<key>GCM_SENDER_ID</key>
	<string>676982547514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vinetech.mobile</string>
	<key>PROJECT_ID</key>
	<string>vine-tech-ia</string>
	<key>STORAGE_BUCKET</key>
	<string>vine-tech-ia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676982547514:ios:f2348aec535c031e944103</string>
</dict>
</plist>